# This file is a template, and might need editing before it works on your project.
# use docker image with latex preinstalled
# since there is no official latex image, use https://github.com/blang/latex-docker
# possible alternative: https://github.com/natlownes/docker-latex
compile-pdf:
  stage: build
  image: blang/latex
  script:
    - cd requirements
    - latexmk -lualatex -pdf
  artifacts:
    paths:
      - "requirements/*.pdf"

pages:
  stage: deploy
  script:
    - mkdir public
    - cp requirements/*.pdf public
    - cd public
    - find * | while read -r line; do echo "<a href=\"$line\">$line</a>"; done >> index.html
  artifacts:
    paths: 
      - public
