before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

compile-pdf:
  stage: build
  image: $CI_REGISTRY/texlive:latest
  script:
    - cd requirements
    - arara -h
  artifacts:
    paths:
      - "requirements/*.pdf"

pages:
  stage: deploy
  script:
    - mkdir public
    - cp requirements/*.pdf public
    - cd public
    - find * | while read -r line; do echo "<a href=\"$line\">$line</a><br />"; done >> index.html
  artifacts:
    paths: 
      - public
  only:
    - master