# This file is a template, and might need editing before it works on your project.
# use docker image with latex preinstalled
# since there is no official latex image, use https://github.com/blang/latex-docker
# possible alternative: https://github.com/natlownes/docker-latex
compile-pdf:
  stage: build
  image: blang/latex
  script:
    - cd requirements
    - latexmk -pdf
  artifacts:
    paths:
      - "requirements/*.pdf"

pages:
  stage: deploy
  script:
    - apt install tree
    - mkdir public
    - cp requirements/*.pdf public
    - cd public
    - tree -H '.' -L 1 --noreport --charset utf-8 > index.html
  artifacts:
    paths: 
      - public