compile-pdf:
  stage: build
  image: $CI_REGISTRY/texlive:latest
  tags:
    - docker
  script:
    - cd requirements
    - |+
      for texfile in *.tex
      do
        arara -l $texfile
        mv arara.log ${texfile%.*}.arara.log
      done
  artifacts:
    paths:
      - "requirements/*.log"
      - "requirements/*.pdf"

pages:
  stage: deploy
  cache:
    key: pages
    paths:
      - public
    policy: pull-push
  tags:
    - GameBase
  script:
    - if [ "$CI_COMMIT_REF_SLUG" == "master" ]; then mkdir public; else mkdir -p public/$CI_COMMIT_REF_SLUG; fi
    - if [ "$CI_COMMIT_REF_SLUG" == "master" ]; then cp requirements/*.pdf public; else cp requirements/*.pdf public/$CI_COMMIT_REF_SLUG; fi
    - cd public
    - sh ../gitlab-pages/generate-dir-index.sh
    - cp ../gitlab-pages/styles.css .
  artifacts:
    paths: 
      - public
