compile-pdf:
  stage: build
  image: $CI_REGISTRY/texlive:latest
  tags:
    - GameBase
  script:
    - cd requirements
    - |+
      for texfile in *.tex
      do
        arara -l $texfile
        mv arara.log $texfile.arara.log
      done
  artifacts:
    paths:
      - "requirements/*.log"
      - "requirements/*.pdf"

pages:
  stage: deploy
  tags:
    - GameBase
  script:
    - mkdir public
    - cp requirements/*.pdf public
    - cd public
    - find * | while read -r line; do echo "<a href=\"$line\">$line</a><br />"; done >> index.html
  artifacts:
    paths: 
      - public
  only:
    - master
